<html>
<head>
<title>App</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<style>
    #wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #wrapper > div {
        width: 100%;
        height: 100%;
    }
    #traffic-light {
        width: 35vh;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: black;
    }
    #traffic-light .light {
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        margin: 10px;
    }
    #traffic-light .light.inactive {
        opacity: 0.1;
    }
    #traffic-light .red {
        background-color: red;
    }
    #traffic-light .yellow {
        background-color: yellow;
    }
    #traffic-light .green {
        background-color: #54ff54;
    }

    #cars {
        margin-top: 10vh;
    }
    .car {
        width: 100%;
        display: flex;
        margin-bottom: 10rem;

        justify-content: space-between;
    }
    .car-img img {
        height: 15vh;
    }
    .car-laps {
        font-size: 10rem; 
    }
    .lap-star {
        width: 25px;
    }
    iframe {
        margin-top: 10rem;
    }
</style>

</head>
<body>
    {% raw %}
    <div id="vue-app">
    </div>
    <script type="template/html" id="template">
        <div id="wrapper">
            <div class="flex-center">
                <div id="traffic-light">
                    <div @click="redLight" class="light red" :class="{inactive: !traffic.red}"></div>
                    <div @click="readySetGo" class="light yellow" :class="{inactive: !traffic.yellow}"></div>
                    <div @click="greenLight" class="light green" :class="{inactive: !traffic.green}"></div>
                </div>
            </div>
            <div>
                <div id="cars">
                    <div v-for="(car, ip, index) in cars" class="car">
                        <div class="car-img"><img :src="`/static/car${index + 1}.png`" :style="{
                            transform: `rotate(-${car.z}deg)`
                        }" /></div>
                        <div class="car-laps"><img class="lap-star" v-for="star in car.laps" src="/static/star.png" /></div>
                        <div v-if="false" class="car-ip">{{ car.ip }}</div>
                    </div>
                </div>
                <iframe ref="iframe" width ="361" height="1" src="https://www.youtube.com/embed/gD1QqYiZ3kQ?enablejsapi=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
        </div>
    </script>
    <script>
        var socket = io();
        socket.on('connect', function() {
            socket.emit('message', 'I\'m connected!');
        });
        const speak = (text) => {
            console.log("SPEAKING:", text);
            const utter = new SpeechSynthesisUtterance();
            utter.lang = 'fi-FI';
            utter.text = text;
            utter.rate = 1;
            utter.pitch = 0.8;
            speechSynthesis.cancel();
            speechSynthesis.speak(utter);
        }
        var app = new Vue({
            el: '#vue-app',
            template: "#template",
            data: () => ({
                cars: null,
                runtime_rand: null,
                current_ms: 0,

                timeForFixing: false,
                trafficLoopEnabled: true,

                traffic: {
                    red: true,
                    yellow: false,
                    green: false,
                }
            }),
            mounted() {
                this.mainLoop();

                socket.on('mainloop', this.handleMainLoop);

                this.timeoutPromise(2000).then(this.trafficLoop)
            },
            methods: {
                randInt(max) {
                    return Math.floor(Math.random() * max)
                },
                trafficLoop() {
                    if (!this.trafficLoopEnabled) {
                        return;
                    }
                    this.readySetGo().then(() => {
                        if (!this.trafficLoopEnabled) {
                            return;
                        }
                        this.timeoutPromise(15000 + this.randInt(20000)).then(() => {
                            if (!this.trafficLoopEnabled) {
                                return;
                            }
                            this.redLight();
                            this.tiemoutWithoutMoving(3000).then(this.trafficLoop)
                        });
                    });
                },
                timeoutPromise(interval) {
                    return new Promise((resolve, reject) => {
                        setTimeout(() => {
                            resolve();
                        }, interval);
                    });
                },
                tiemoutWithoutMoving(timeout) {
                    let start = Date.now()
                    return new Promise((resolve, reject) => {
                        const interval = setInterval(() => {
                            if (this.carsMoved()) {
                                start = Date.now()
                            }
                            if (Date.now() - start > timeout) {
                                clearInterval(interval)
                                resolve();
                            }
                        }, 1000);
                    });
                },
                carsMoved() {
                    for (const car of Object.values(this.cars)) {
                        if (this.current_ms - car.ms < 1500) {
                            return true;
                        }
                        return false;
                    }
                },
                redLight() {
                    this.traffic.red = true;
                    this.traffic.yellow = false;
                    this.traffic.green = false;
                    this.pauseMusic();
                    speak("Stop!")
                },
                greenLight() {
                    this.traffic.red = false;
                    this.traffic.yellow = false;
                    this.traffic.green = true;
                    this.playMusic();
                },
                readySetGo() {
                    return new Promise((resolve, reject) => {
                        this.redLight();
                        speak("Ready")
                        this.tiemoutWithoutMoving(2000).then(() => {
                            this.traffic.yellow = true;
                            speak("Set")
                            this.tiemoutWithoutMoving(3000 + this.randInt(2000)).then(() => {
                                speak("Go!")
                                this.greenLight();
                                resolve()
                            })
                        })
                    });
                },
                pauseMusic() {
                    const el = this.$refs.iframe;
                    console.log(el)
                    el.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
                },
                playMusic() {
                    const el = this.$refs.iframe;
                    console.log(el)
                    el.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
                },
                handleBensa(data) {
                    let count = 0
                    for (const choice in (data.bensa_asema || {})) {
                        if (data.bensa_asema[choice] > this.timeForFixing) {
                            count += 1;
                        }
                    }
                    if (count >= Object.values(this.cars).length) {
                        speak("Fixed!")
                        axios.get('/bensa_done')
                        this.timeForFixing = false;
                        this.trafficLoopEnabled = true;
                        this.trafficLoop();
                    }
                },
                handleMainLoop(data) {
                    if (data.bensa_asema_heartbeat) {
                        for (const car of Object.values(this.cars || {})) {
                            if (car.laps < ((data.LAST_CHANGE[car.ip] || {}).laps || 0)) {
                                console.log(car.laps)
                                if (car.laps % 10 == 0) {
                                    this.timeForFixing = data.current_ms;
                                    this.trafficLoopEnabled = false;
                                    this.redLight();
                                    this.timeoutPromise(2000).then(() => {
                                        speak("Time for fixing!")
                                    })
                                    break;
                                }
                            }
                        }
                    }
                    this.cars = data.LAST_CHANGE;
                    this.current_ms = data.current_ms;
                    if (this.timeForFixing) {
                        this.handleBensa(data)
                    }
                    if (this.runtime_rand == null) {
                        this.runtime_rand = data.runtime_rand;
                    } else {
                        if (this.runtime_rand != data.runtime_rand) {
                            window.location.reload();
                        }
                    }
                    setTimeout(() => {
                        this.mainLoop();
                    }, 200);
                },
                mainLoop() {
                    socket.emit('mainloop', {});
                    return;
                },
            },
            watch: {}
        })
    </script>
    {% endraw %}
</body>
</html>